// SPDX-License-Identifier: GPL-2.0
/*
 * (C) Copyright 2025, Advanced Micro Devices, Inc.
 *
 * Srikanth Boyapally <srikanth.boyapally@amd.com>
 */

#include "versalnet_rpu.dts"
/delete-node/ &spi0;

&spi1 {
	status = "okay";
	cdns,num-ss-bits = <3>;
	is-decoded-cs = <0>;
	clocks = <&spi_ref_clk>;
	flash@2 {
		compatible = "jedec,spi-nor";
		reg = <2>;
		spi-max-frequency = <8000000>;
		jedec-id = [ c2 25 36 ]; /* mx25u3235f */
		size = <0x2000000>; /* 32Mb */
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

&ospi0 {
	size = <DT_SIZE_M(2048)>;
	status = "okay";
	cdns,tslch-ns = <1>;
	cdns,tchsh-ns = <1>;
	cdns,tsd2d-ns = <0>;
	cdns,tshsl-ns = <0>;
	cdns,read-delay = <0>;
	clock-frequency = <20000000>;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		storage_partition: partition@0 {
			label = "storage";
			reg = <0x00000000 0x20000>;
		};
	};
};
