# Copyright (c) 2025 Advanced Micro Devices, Inc.
#
# SPDX-License-Identifier: Apache-2.0

proc load_image args  {
	set elf_file [lindex $args 0]
	set pdi_file [lindex $args 1]
	set bl31_file [lindex $args 2]

	if { [info exists ::env(HW_SERVER_URL)] } {
		connect -url $::env(HW_SERVER_URL)
	} else {
		connect
	}

	device program $pdi_file

	if { [info exists ::env(HW_SERVER_URL)] } {
		set hw_server_url [split $::env(HW_SERVER_URL) ":"]
		set host [lindex $hw_server_url 0]
		set port [lindex $hw_server_url 1]
		disconnect
		after 2000
		connect -host $host -port $port
		after 3000
		ta
	}
	after 1000
	targets -set -nocase -filter {name =~ "Versal Gen 2*"}
	after 100
	targets -set -filter {name =~ "Cortex-A78AE*0.0"}
	after 400
	rst -proc
	after 400
	dow -force $elf_file
	dow -force $bl31_file
	con
	exit
}

load_image {*}$argv
